<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link rel="stylesheet" href="theme.css" />
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div class="container" id="app" v-cloak>
    <div class="card">
      <h1 :style="{
        color: myInputValue.length > 5 ? 'red' : 'black',
        fontSize: myInputValue.length > 5 ? '45px' : '25px'
      }">{{title}}</h1>
      <div class="form-control">
        <input type="text" v-model="myInputValue" :placeholder="myPlaseholder" v-on:keypress.enter="addNewNotes">
      </div>
      <h2>inputValue: {{myInputValue}}</h2>
      <button @click="addNewNotes" class="btn">Добавить</button>
      <hr>
      <div v-if="notes.length !== 0 || readyNotes.length !== 0">
        <ul class="list" v-if="notes.length !== 0" ref="list">
          <li class="list-item" v-for="(myNote,index) of notes" :key="myNote">
            <span :class="myNote.length > 5 ? 'primary' : 'bold'"> ({{index + 1 }}) {{toUpperCase(myNote)}}</span>
            <div class="buttons">
              <button @click="readyNote(myNote,$event), deleteNote(index)" class="btn">Готово</button>
              <button v-on:click="deleteNote(index, $event)" class="btn danger">Удалить</button>
            </div>
          </li>
          <hr>
        </ul>
        <ul class="list" ref="readyList">
          <li class="list-item ready-note" v-for="(myNote,index) of readyNotes" :key="myNote">
            <span :class="myNote.length > 5 ? 'primary' : 'bold'"> ({{index + 1 }}) {{toUpperCase(myNote)}}</span>
            <div>
              <button v-on:click="deleteReadyNote(index, $event)" class="btn danger">Удалить</button>
            </div>
          </li>
        </ul>
        <hr v-if="readyNotes.length !== 0">
        <div>Общее количество заметок: {{notes.length}} | Удвоенное: {{doubleCountComputed}} | Количество готовых:
          {{readyNotes.length}}</div>
      </div>
      <span v-else>Список заметок пуст</span>
    </div>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>